<ion-view view-title="New Event">
    <ion-content padding="true" class="has-header">
        <ion-list class="list-inset list-borderless">
            <ion-item class="item-divider item-dark">Event Details</ion-item>
            <ion-item>
                <label class="item-input-inset">
                    <span class="input-label">Venue</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="ABC Theater">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Type</span>
                    <select class="item-input-wrapper">
                        <option></option>
                        <option>Courses</option>
                        <option selected>Workshop</option>
                        <option>Night Out</option>
                        <option>Congress</option>
                    </select>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Dance Style</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Salsa Cuban">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Teacher</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Mr. Jason Derulo">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Country</span>
                    <select class="item-input-wrapper">
                        <option></option>
                        <option>Switzerland</option>
                        <option selected>France</option>
                        <option>Denmark</option>
                    </select>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">City</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Geneva">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Price</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Free / $10 per person ">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Start Date</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="mm/dd/yyyy hh:mm">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">End Date</span>
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="mm/dd/yyyy hh:mm">
                    </label>
                </label>

                <label class="item-input-inset">
                    <span class="input-label">Description</span>
                    <textarea style="min-height: 70px;" class="item-input-wrapper" placeholder="Annual dance fiesta."></textarea>
                </label>

                <br />
                <div class="button-bar half-width-button" >
                    <button class="button button-small button-outline button-dark">Add Event</button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>