<ion-view view-title="My Events">
    <ion-content padding="true" class="has-header">
        <ion-list class="list-inset">
            
            <ion-item class="item-divider">Bookmarked Events</ion-item>
            <ion-item class="item item-thumbnail-left item-text-wrap">
            <img src="img/6VTlOaGTSWqIrqtaeGLn_salsa_workshop.jpg">
                <h2 style="text-align: left; font-weight:600;">Salsa Conservatory</h2>
                <p>
                    Type: <strong>Salsa Cuban - Workshop</strong><br />
                    Date: <strong>June 5, 2016</strong><br />
                    Time: <strong>10:00 A.M. to 2:00 P.M.</strong>
                </p>
                <div class="button-bar">
                    <button id="whereCanWeDance-button5" class="button button-positive button-small  button-clear icon ion-bookmark"></button>
                    <button id="whereCanWeDance-button6" class="button button-positive  button-small  button-clear icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive  button-small  button-clear icon ion-android-expand"></a>
                </div>
            </ion-item>
            <ion-item class="item item-thumbnail-left item-text-wrap">
            <img src="img/qpgJNweMQViCcnzB0yM7_kizomba.jpg">
                <h2 style="font-weight:600;">Funky Buddha</h2>
                <p>
                    Type: <strong>Kizomba - Nigth out</strong><br />
                    Date: <strong>August 12, 2016</strong><br />
                    Time: <strong>5:00 P.M. to 2:00 A.M.</strong>
                </p>
                <div class="button-bar">
                    <button id="whereCanWeDance-button5" class="button button-positive button-small  button-clear icon ion-bookmark"></button>
                    <button id="whereCanWeDance-button6" class="button button-positive  button-small  button-clear icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive  button-small  button-clear icon ion-android-expand"></a>
                </div>
            </ion-item>
            <ion-item class="item-divider">Added by me</ion-item>
            <ion-item class="item item-thumbnail-left item-text-wrap">
            <img src="img/Tgq5lwkOTrmhxz5m3SmS_salsa_course.jpg">
                <h2 style="text-align: left; font-weight:600;">Salsa Course</h2>
                <p>
                    Date: <strong>August 12, 2016</strong><br />
                </p>
                <div class="button-bar">
                    <button id="whereCanWeDance-button5" class="button button-positive button-small  button-clear icon ion-edit"></button>
                    <button id="whereCanWeDance-button6" class="button button-positive  button-small  button-clear icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive  button-small  button-clear icon ion-android-expand"></a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>