<ion-view view-title="Preference">
<ion-nav-buttons side="primary">
        <button class="button button-clear image-round-button"><img src="img/abn.jpg"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list class="list-inset">
            
            <ion-item class="item-divider">Personal Details</ion-item>
            <ion-item>
            
            <label class="item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Thomas E">
            </label>
            <label class="item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="thomas@edison.com">
            </label>
            <label class="item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Thomas Edison">
            </label>
            <button class="button button-outline half-width-button button-positive">Update</button>
            </ion-item>
            <ion-item class="item-divider">Interested in..</ion-item>
            <ion-toggle toggle-class="toggle-positive">Congress</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Course</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Night Out</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Workshop</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>