<ion-view title="Salsa cuban - Workshop" id="page2">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/iIGIHusPT9mKorxlN1wT_salsa_workshop.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="salsaCubanWorkshop-heading5" style="color:#000000;text-align:center;">Salsa Conservatory</h3>
        <div id="salsaCubanWorkshop-markdown13" style="color:#000000;">
            <p>Date:
                <strong>June 5, 2016</strong>
            </p>
        </div>
        <div id="salsaCubanWorkshop-markdown14" style="color:#000000;">
            <p>Time:
                <strong>10:00 A.M. to 2:00 P.M.</strong>
            </p>
        </div>
        <div id="salsaCubanWorkshop-markdown15" style="color:#000000;">
            <p>Country:
                <strong>Nepal</strong>
            </p>
        </div>
        <div id="salsaCubanWorkshop-markdown16" style="color:#000000;">
            <p>Region:
                <strong>Thamel, Kathmandu</strong>
            </p>
        </div>
        <div id="salsaCubanWorkshop-markdown17" style="color:#000000;">
            <p>Presenter:
                <strong>Gorkhali G</strong>
            </p>
        </div>
        <div id="salsaCubanWorkshop-markdown11" style="color:#000000;"></div>
        <div id="salsaCubanWorkshop-markdown10" style="color:#000000;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique metus mauris, facilisis placerat leo tempus et. Vivamus aliquam velit a justo ultricies, at laoreet velit facilisis. In elementum ante nisl, nec ullamcorper felis
                ultrices in.</p>
        </div>
        <div class="button-bar">
            <button id="salsaCubanWorkshop-button17" class="button button-positive  button-block button-outline icon ion-bookmark"></button>
            <button id="salsaCubanWorkshop-button18" class="button button-positive  button-block button-outline icon ion-android-share-alt"></button>
        </div>
        <ion-list>
            <ion-item class="item-avatar">
                <h2>Tom Morello</h2>
                <p>Yeah I'm going...</p>
            </ion-item>
            <ion-item class="item-avatar">
                <h2>Andrew S</h2>
                <p>Waiting since so long for this one</p>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <label class="item item-input" name="comment">
                <span class="input-label">Comment</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <button id="salsaCubanWorkshop-button20" class="button button-positive  button-block">Add Comment</button>
    </ion-content>
</ion-view>