<ion-header-bar class="bar-positive">
<h2 class="title">Where Can We Dance</h2>
<button class="button button-positive icon ion-ios-color-filter-outline"></button>
</ion-header-bar>

<ion-view view-title="Where Can We Dance" id="page1">
    <ion-nav-buttons side="primary">
        <button class="button button-positive icon ion-ios-color-filter-outline"> Filter</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list class="list-inset">
            <ion-item class="item item-text-wrap">
            <!-- <img src="img/6VTlOaGTSWqIrqtaeGLn_salsa_workshop.jpg"> -->
                <h2 style="text-align: center; font-weight:600;">Salsa Conservatory</h2>
                <p style="text-align: center;">
                    Type: <strong>Salsa Cuban - Workshop</strong><br />
                    Date: <strong>June 5, 2016</strong><br />
                    Time: <strong>10:00 A.M. to 2:00 P.M.</strong>
                </p>
                <div class="button-bar half-width-button">
                    <button id="whereCanWeDance-button5" class="button button-outline button-positive button-small icon ion-bookmark"></button>
                    <button id="whereCanWeDance-button6" class="button button-outline button-positive  button-small icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive button-small button-outline icon ion-android-expand"></a>
                </div>
            </ion-item>

            <ion-item class="item item-text-wrap">
            <!-- <img src="img/qpgJNweMQViCcnzB0yM7_kizomba.jpg"> -->
                <h2 style="text-align: center; font-weight:600;">Funky Buddha</h2>
                <p style="text-align: center;">
                    Type: <strong>Kizomba - Nigth out</strong><br />
                    Date: <strong>August 12, 2016</strong><br />
                    Time: <strong>5:00 P.M. to 2:00 A.M.</strong>
                </p>
                <div class="button-bar half-width-button">
                    <button id="whereCanWeDance-button5" class="button button-outline button-positive button-small  button-clear icon ion-bookmark"></button>
                    <button id="whereCanWeDance-button6" class="button button-outline button-positive  button-small  button-clear icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive  button-small button-outline button-clear icon ion-android-expand"></a>
                </div>
            </ion-item>

            <ion-item class="item item-text-wrap">
            <!-- <img src="img/Tgq5lwkOTrmhxz5m3SmS_salsa_course.jpg"> -->
                <h2 style="text-align: center; font-weight:600;">Salsa Academy</h2>
                <p style="text-align: center;">
                    Type: <strong>Salsa - Course</strong><br />
                    Date: <strong>Starts August 12, 2016</strong><br />
                    Duration: <strong>3 months</strong>
                </p>
                <div class="button-bar half-width-button" >
                    <button id="whereCanWeDance-button5" class="button button-positive button-outline button-small  button-clear icon ion-bookmark"></button>
                    <button id="whereCanWeDance-button6" class="button button-positive button-outline button-small  button-clear icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive  button-small button-outline button-clear icon ion-android-expand"></a>
                </div>
            </ion-item>

            <ion-item class="item item-text-wrap">
            <!-- <img src="img/LNh51MsGSJSmxdo3SKCd_bachata.jpg"> -->
                <h2 style="text-align: center; font-weight:600;">The Club</h2>
                <p style="text-align: center;">
                    Type: <strong>Bachata - Nigth out</strong><br />
                    Date: <strong>August 10, 2016</strong><br />
                    TIme: <strong>4:00 P.M. to 4:00 A.M.</strong>
                </p>
                <div class="button-bar half-width-button" >
                    <button id="whereCanWeDance-button5" class="button button-outline button-positive button-small  button-clear icon ion-bookmark"></button>
                    <button id="whereCanWeDance-button6" class="button button-outline button-positive  button-small  button-clear icon ion-android-share-alt"></button>
                    <a ui-sref="menu.salsaCubanWorkshop" id="whereCanWeDance-button7" style="font-size:08px;" class="button button-positive button-outline button-small  button-clear icon ion-android-expand"></a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>