<ion-view view-title="Login" name="login-view">
  <ion-content padding="true" class="has-header">
    <form name="loginForm" ng-submit="loginEmail(loginForm)">
      <ion-list class="list-inset">
        <ion-item>

          <label class="item-input-inset">
            <span class="input-label">Email</span>
            <label class="item-input-wrapper">
              <input type="text" ng-model="data.email" placeholder="Enter Email">
            </label>
          </label>

          <label class="item-input-inset">
            <span class="input-label">Password</span>
            <label class="item-input-wrapper">
              <input type="password" ng-model="data.password" placeholder="Enter Password">
            </label>
          </label>

          <br />
          <div class="button-bar half-width-button" >
            <button type="submit" class="button button-small light-border">Login</button>
          </div>

        </ion-item>
      </ion-list>
    </form>
    <a href="#/signup" class="button button-royal button-clear button-block">
      Or create an account
    </a>

    <a href="#/passwordResetForm" class="button button-royal button-clear button-block button-small">
      I forgot my password :'(
    </a>
  </ion-content>
</ion-view>
