.item-thumbnail-left img {
    border-radius: 10px;
}

.image-round-button img {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.half-width-button {
    padding-left: 25%;
    padding-right: 25%;
}

/*.course {*/
/*background: linear-gradient(to left, #4389A2, #8E54E9);*/
/*}*/

.course {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    font: normal 1px/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(92,37,141,0) 0, rgba(92,37,141,0) 20%, rgba(92,37,141,0.0980392) 20%, rgba(92,37,141,0.0980392) 40%, rgba(92,37,141,0.2) 40%, rgba(92,37,141,0.2) 60%, rgba(92,37,141,0.4) 60%, rgba(92,37,141,0.4) 80%, rgba(92,37,141,0.6) 80%, rgba(92,37,141,0.6) 100%), -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(92,37,141,0) 20%, rgba(92,37,141,0.0980392) 20%, rgba(92,37,141,0.0980392) 40%, rgba(92,37,141,0.2) 40%, rgba(92,37,141,0.2) 60%, rgba(92,37,141,0.4) 60%, rgba(92,37,141,0.4) 80%, rgba(92,37,141,0.6) 80%, rgba(92,37,141, 0.6) 100%), #4389A2;
    background: -moz-linear-gradient(0deg, rgba(92,37,141,0) 0, rgba(92,37,141,0) 20%, rgba(92,37,141,0.0980392) 20%, rgba(92,37,141,0.0980392) 40%, rgba(92,37,141,0.2) 40%, rgba(92,37,141,0.2) 60%, rgba(92,37,141,0.4) 60%, rgba(92,37,141,0.4) 80%, rgba(92,37,141,0.6) 80%, rgba(92,37,141,0.6) 100%), -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(92,37,141,0) 20%, rgba(92,37,141,0.0980392) 20%, rgba(92,37,141,0.0980392) 40%, rgba(92,37,141,0.2) 40%, rgba(92,37,141,0.2) 60%, rgba(92,37,141,0.4) 60%, rgba(92,37,141,0.4) 80%, rgba(92,37,141,0.6) 80%, rgba(92,37,141, 0.6) 100%), #4389A2;
    background: linear-gradient(0deg, rgba(92,37,141,0) 0, rgba(92,37,141,0) 20%, rgba(92,37,141,0.0980392) 20%, rgba(92,37,141,0.0980392) 40%, rgba(92,37,141,0.2) 40%, rgba(92,37,141,0.2) 60%, rgba(92,37,141,0.4) 60%, rgba(92,37,141,0.4) 80%, rgba(92,37,141,0.6) 80%, rgba(92,37,141,0.6) 100%), linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(92,37,141,0) 20%, rgba(92,37,141,0.0980392) 20%, rgba(92,37,141,0.0980392) 40%, rgba(92,37,141,0.2) 40%, rgba(92,37,141,0.2) 60%, rgba(92,37,141,0.4) 60%, rgba(92,37,141,0.4) 80%, rgba(92,37,141,0.6) 80%, rgba(92,37,141, 0.6) 100%), #4389A2;
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*.congress {*/
/*background: linear-gradient(to left, #FDFC47, #24FE41);*/
/*}*/

.congress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    font: normal 1px/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(36,254,65,0) 0, rgba(36,254,65,0) 20%, rgba(36,254,65,0.0980392) 20%, rgba(36,254,65,0.0980392) 40%, rgba(36,254,65,0.2) 40%, rgba(36,254,65,0.2) 60%, rgba(36,254,65,0.4) 60%, rgba(36,254,65,0.4) 80%, rgba(36,254,65,0.6) 80%, rgba(36,254,65,0.6) 100%), -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(36,254,65,0) 20%, rgba(36,254,65,0.0980392) 20%, rgba(36,254,65,0.0980392) 40%, rgba(36,254,65,0.2) 40%, rgba(36,254,65,0.2) 60%, rgba(36,254,65,0.4) 60%, rgba(36,254,65,0.4) 80%, rgba(36,254,65,0.6) 80%, rgba(36,254,65, 0.6) 100%), #FDFC47;
    background: -moz-linear-gradient(0deg, rgba(36,254,65,0) 0, rgba(36,254,65,0) 20%, rgba(36,254,65,0.0980392) 20%, rgba(36,254,65,0.0980392) 40%, rgba(36,254,65,0.2) 40%, rgba(36,254,65,0.2) 60%, rgba(36,254,65,0.4) 60%, rgba(36,254,65,0.4) 80%, rgba(36,254,65,0.6) 80%, rgba(36,254,65,0.6) 100%), -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(36,254,65,0) 20%, rgba(36,254,65,0.0980392) 20%, rgba(36,254,65,0.0980392) 40%, rgba(36,254,65,0.2) 40%, rgba(36,254,65,0.2) 60%, rgba(36,254,65,0.4) 60%, rgba(36,254,65,0.4) 80%, rgba(36,254,65,0.6) 80%, rgba(36,254,65, 0.6) 100%), #FDFC47;
    background: linear-gradient(0deg, rgba(36,254,65,0) 0, rgba(36,254,65,0) 20%, rgba(36,254,65,0.0980392) 20%, rgba(36,254,65,0.0980392) 40%, rgba(36,254,65,0.2) 40%, rgba(36,254,65,0.2) 60%, rgba(36,254,65,0.4) 60%, rgba(36,254,65,0.4) 80%, rgba(36,254,65,0.6) 80%, rgba(36,254,65,0.6) 100%), linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(36,254,65,0) 20%, rgba(36,254,65,0.0980392) 20%, rgba(36,254,65,0.0980392) 40%, rgba(36,254,65,0.2) 40%, rgba(36,254,65,0.2) 60%, rgba(36,254,65,0.4) 60%, rgba(36,254,65,0.4) 80%, rgba(36,254,65,0.6) 80%, rgba(36,254,65, 0.6) 100%), #FDFC47;
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*.workshop {*/
/*background: linear-gradient(to left, #4b6cb7, #182848);*/
/*}*/

.workshop {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    font: normal 1px/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(24,40,72,0) 0, rgba(24,40,72,0) 20%, rgba(24,40,72,0.0980392) 20%, rgba(24,40,72,0.0980392) 40%, rgba(24,40,72,0.2) 40%, rgba(24,40,72,0.2) 60%, rgba(24,40,72,0.4) 60%, rgba(24,40,72,0.4) 80%, rgba(24,40,72,0.6) 80%, rgba(24,40,72,0.6) 100%), -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(24,40,72,0) 20%, rgba(24,40,72,0.0980392) 20%, rgba(24,40,72,0.0980392) 40%, rgba(24,40,72,0.2) 40%, rgba(24,40,72,0.2) 60%, rgba(24,40,72,0.4) 60%, rgba(24,40,72,0.4) 80%, rgba(24,40,72,0.6) 80%, rgba(24,40,72, 0.6) 100%), #4b6cb7;
    background: -moz-linear-gradient(0deg, rgba(24,40,72,0) 0, rgba(24,40,72,0) 20%, rgba(24,40,72,0.0980392) 20%, rgba(24,40,72,0.0980392) 40%, rgba(24,40,72,0.2) 40%, rgba(24,40,72,0.2) 60%, rgba(24,40,72,0.4) 60%, rgba(24,40,72,0.4) 80%, rgba(24,40,72,0.6) 80%, rgba(24,40,72,0.6) 100%), -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(24,40,72,0) 20%, rgba(24,40,72,0.0980392) 20%, rgba(24,40,72,0.0980392) 40%, rgba(24,40,72,0.2) 40%, rgba(24,40,72,0.2) 60%, rgba(24,40,72,0.4) 60%, rgba(24,40,72,0.4) 80%, rgba(24,40,72,0.6) 80%, rgba(24,40,72, 0.6) 100%), #4b6cb7;
    background: linear-gradient(0deg, rgba(24,40,72,0) 0, rgba(24,40,72,0) 20%, rgba(24,40,72,0.0980392) 20%, rgba(24,40,72,0.0980392) 40%, rgba(24,40,72,0.2) 40%, rgba(24,40,72,0.2) 60%, rgba(24,40,72,0.4) 60%, rgba(24,40,72,0.4) 80%, rgba(24,40,72,0.6) 80%, rgba(24,40,72,0.6) 100%), linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(24,40,72,0) 20%, rgba(24,40,72,0.0980392) 20%, rgba(24,40,72,0.0980392) 40%, rgba(24,40,72,0.2) 40%, rgba(24,40,72,0.2) 60%, rgba(24,40,72,0.4) 60%, rgba(24,40,72,0.4) 80%, rgba(24,40,72,0.6) 80%, rgba(24,40,72, 0.6) 100%), #4b6cb7;
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*.night-out {*/
/*background: linear-gradient(to left, #FF512F, #DD2476);*/
/*}*/

.night-out {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    font: normal 1px/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), -webkit-linear-gradient(180deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
    background: -moz-linear-gradient(0deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), -moz-linear-gradient(-90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
    background: linear-gradient(0deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), linear-gradient(-90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}